.header {
    background-color: #ff6347; 
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.highlight {
    color: #ffeeba;
}

.menuButton {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.navMenu {
    position: absolute;
    top: 55px;
    right: 20px;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
}

.navMenu ul {
    list-style: none;
    padding: 0;
}

.navMenu li {
    padding: 10px;
    color: white;
    cursor: pointer;
}

.navMenu li:hover {
    background-color: #555;
}